* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}
/* Header  */

.navbar {
    width: 100%;
    height: 70px;
    background: #000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px;
}

/* Left Side */

.nav-left {
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo {
    color: #fff;
    font-size: 20px;
    font-weight: bold;
}

/* Menu */

.nav-links {
    display: flex;
    align-items: center;
    gap: 10px;
}

.nav-links a {
    color: #fff;
    text-decoration: none;
    font-size: 15px;
    font-weight: 600;
    padding: 10px 15px;
    border-radius: 8px;
    transition: .3s;
}

.nav-links a:hover {
    background: #fff;
    color: #000;
}

.line {
    width: 1px;
    height: 30px;
    background: gray;
}

/* Right Side */

.nav-right {
    display: flex;
    align-items: center;
    gap: 18px;
}

.hover-effect {
    color: #fff;
    cursor: pointer;
    padding: 10px;
    border-radius: 8px;
    transition: .3s;
}

.hover-effect:hover {
    background: #fff;
    color: #000;
}

.circle {
    width: 42px;
    height: 42px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 20px;
}

.profile {
    width: 42px;
    height: 42px;
    border-radius: 50%;
    background: #6d7680;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: .3s;
}

.profile:hover {
    border: 3px solid #fff;
}

.profile i {
    font-size: 20px;
}

.btn {
    background: #0f79af;
    color: #fff;
    border: none;
    padding: 10px 18px;
    border-radius: 8px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: .3s;
}

.btn:hover {
    background: #1497d6;
}

/* Language */

.lang {
    position: relative;
    color: #fff;
    cursor: pointer;
    padding: 10px;
    border-radius: 8px;
}

.lang:hover {
    background: #fff;
    color: #0000003e;
}

.lang-menu {
    position: absolute;
    top: 55px;
    right: 0;
    width: 700px;
    background: #4a648065;
    padding: 25px;
    border-radius: 10px;
    display: none;
    grid-template-columns: repeat(3, 1fr);
    gap: 18px;
    z-index: 1000;
}

.lang:hover .lang-menu {
    display: grid;
}

.lang-menu a {
    text-decoration: none;
    color: #fff;
    font-size: 16px;
}

.lang-menu a:hover {
    color: #46b9ff;
}

.textpart {
    background-image: linear-gradient(rgb(20, 19, 19), rgb(83, 83, 99), rgb(124, 115, 115));
    width: 100%;
    height: 500px;
   
}

.text {
    color: white;
    padding: 50px;
    font-size: 50px;
}
.textpart p{
    color: white;
    padding: 30px;
    font-weight: bold;
    
}
.btn2{
    width: 250px;
    height: 50px;
    border-radius: 6px;
    margin: 50px;
    border: none;
    font-size: 20px;
}
.btn2:hover{
    font-weight: bold;
    background-color: white;
    font-size: 20px;
}