* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background: #f5f3ef;
}

.maincontainer {
    width: 100%;
    padding: 20px;
}

.topbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}

.contact {
    display: flex;
    align-items: center;
    gap: 15px;
}

.contact span {
    font-size: 22px;
}

select {
    padding: 10px;
    width: 170px;
    font-size: 17px;
    background: white;
}

.currency select {
    border: none;
    background: transparent;
    color: #00838f;
    font-weight: bold;
    width: 90px;
}

.cards {
    display: flex;
  
    flex-direction: row;
    gap: 20px;
}

.card {
    background: #fff;
    border: 1px solid #ddd;
    padding: 25px;
    position: relative;
}

.badge {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background: #ffd633;
    text-align: center;
    padding: 10px;
    font-size: 14px;
    font-weight: bold;
}

.card h2 {
    font-size: 42px;
    font-family: Georgia, serif;
    margin-top: 20px;
}

.subtitle {
    margin: 20px 0;
    line-height: 25px;
    color: #555;
}

.start {
    margin-top: 30px;
    color: #666;
}

.card h1 {
    font-size: 65px;
    margin: 10px 0;
}

.card sub {
    font-size: 28px;
}

.month {
    margin-bottom: 25px;
}

button {
    width: 100%;
    padding: 14px;
    border: none;
    background: #007c89;
    color: white;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    margin-bottom: 20px;
}

.note {
    font-size: 14px;
    line-height: 22px;
    color: #666;
    margin-bottom: 20px;
}

.card h4 {
    margin-bottom: 15px;
    font-size: 18px;
}

ul {
    list-style: none;
}

ul li {
    margin-bottom: 15px;
    line-height: 24px;
    font-size: 15px;
}

ul li i {
    color: #00838f;
    margin-right: 10px;
}

a {
    display: inline-block;
    margin-top: 20px;
    text-decoration: none;
    color: #007c89;
    font-weight: bold;
}

@media(max-width:992px) {

    .cards {
        flex-wrap: wrap;
    }
}
@media(max-width:700px) {

    .topbar {
       flex-direction: column;
        gap: 20px;
    }
    .contact {
        flex-direction: column;
    }
}