.main {
    width: 550px;
    height: 550px;
    margin: 20px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #d9d4d4;
   

}

.card {
    width: 350px;
    height: 350px;
    background-color: #faf4f4;
    border-radius: 6px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, .2);
    padding: 20px;
   
}
.upper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.text h2{
    color:rgb(58, 116, 225);
    font-family: Arial, Helvetica, sans-serif;
}
.text h4{
    color: darkgray;
    font-family: Arial, Helvetica, sans-serif;
}
.upper img{
    width: 150px;
    height: 150px;
    border-radius: 5px;

}
.icon{
    width: 320px;
    height: 30px;
    background-color: rgb(58, 116, 225);
   border-radius: 3px;
    text-align: center;
    margin: 20px;
    padding: 5px;
}
.icon i{
    margin: 0 15px;
    font-size: 25px;
    padding: 3px;
    cursor: pointer;

}
.text2{
    text-align: center;

}
.text2 p{
    font-size: 23px;
    color: darkgray;
    font-weight: 400;
    font-family: Arial, Helvetica, sans-serif;
} 

