body {
    margin: 2%;
}

.boxes {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.box {
    width: 200px;
    height: 20px;
    padding: 10px;
    text-align: center;
    border: 1px solid rgb(96, 94, 94);

}



.inbox {
    display: flex;
    width: 100%;
   
}

.innerbox {
    width: 300px;
    border: none;

}

.innerbox img {
    object-fit: cover;
    width: 280px;

}

.incantaint {
    display: flex;
    gap: 5px;
}

.rat {
    color: rgb(255, 183, 0);
    font-size: 20px;
    font-weight: bold;

}

.innerbox p {
    color: gray;
}

.price {
    display: flex;
    gap: 7px;
}

.pribtn {
    background-color: rgb(42, 99, 211);
    font-weight: bold;
    padding: 5px;
    text-align: center;
    border: none;
    color: white;
    border-radius: 2px;
}

.selbtn {
    background-color: aquamarine;
    border: none;
    padding: 5px;
    text-align: center;
    color: darkcyan;
    border-radius: 2px;
    font-weight: bold;
}

.highbtn {
    background-color: rgb(237, 195, 145);
    border: none;
    padding: 5px;
    color: rgb(131, 90, 15);
    font-weight: bold;
    text-align: center;
    border-radius: 6px;
}

@media (max-width:576px) {
    .boxes {
        flex-wrap: wrap;
    }

    .box {
        width: 100%;
        height: 20px;
    }

    .inbox {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
    }

    .innerbox {
        width: 100%;

    }
}
@media (min-width:576px) and (max-width:992px) {
    .boxes {
        flex-wrap: wrap;
    }

    .box {
        width: 40%;
        height: 20px;
    }
    .inbox {
    
        flex-wrap: wrap;
        gap: 20px;
    }
    .innerbox {
        width: 40%;
    }

}